body{
	background-color: lavender;
}
.navbar{
	background:#222324; 
}
.brand-logo{
	margin: 10px 0  0 10px;
}
.header-nav{
    margin: 16px 16px 0 16px;
}
header{
	background-image: url(../img/316246.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
.wrapper{
    display: grid;
    grid-template-columns: 300px 3fr;
    gap: 1em;
    padding: 1em;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}
.danger{
    background: #bd362f;
    border-color: #bd362f;
    color: #FFF;
    &:hover{
        background: #FFF;
        color: #bd362f;
        transition: all 0.5s;
    }
}
@media (max-width: 768px) {
    .wrapper{
        grid-template-columns: auto;
    }
  }